body{
  border:#FFEBCA 1px solid;
}
.logo{
  margin: 0px 1050px 0px 25px;
  width: :28px;
  height:40px;
}
.btn{
  margin: 0px 10px 0px 0px;
}


.firstnav{
  /*width: 960px;*/
  height: 50px;
  background-color: #F8CBAE;
  border:3px solid;
}
p {
  margin: 0px auto;
}
.word {
  font-size: 36px;
  font-family: Arial;
  font-weight: bold;
  /*padding-top: 16px;*/
  padding-left: 158px;
  padding-bottom: 16px;
  float: left;
  /*background-size: 16px;*/
  /*background-color: rgb(188,211,242);*/
}
.containpigfoot{
  color:#FFEBCA;
  height: 500px;
}
.pig{
  background-color: rgb(255,216,101);
  padding-left: 65px;
  padding-right: 85px;
}
.pigfoot{
  margin-top:-4px;
  /*background-color: rgb(255,216,101);*/
  width: 1180px;
  height: 500px;
  /*padding-left:68px;
  padding-right:85px;*/
}
.pigfootword{
  background-color: rgb(255,216,101);
  font-size: 37px;
  margin-top:-4px;
  padding-left:211px;
  padding-right:253px;
  padding-bottom: 5px;
  padding-top: 5px;
  float: left;
  border-bottom: 3px solid;
}
.pigfootword1{
  background-color: rgb(255,216,101);
  font-size: 38px;
  margin-top:-4px;
  padding-left:211px;
  padding-right:253px;
  padding-bottom:4px;
  padding-top: 7px;
  float: left;
  border-bottom: 3px solid;
}
.subdiv{
  background-color: rgb(216,228,244);
  height: 600px;
  /*padding-left: :50px;*/
  padding-top: 50px;
  border-bottom: 2px solid;
}
.product{
  background-color: rgb(248,203,172);
  float: left;
  width: 550px;
  padding-top: 10px;
  padding-left: 10px;
}
.image{
  float: left;
  width: 300px;
  height: 200px;
}
.subword{
  float: left;
  font-size: 20px;
  font-style: italic;
  margin-right: 50px;
}
.site{
    float: left;
    margin-left:  110px;
    margin-top: 66px;
    border: 1px solid;
    width: 1120px;
}
.apart{
  float: left;
  width: 1120;
  height: 78px;
  background-color: rgb(248,203,172);
}
.footerleft{
  font-family: Arial;
  font-size: 10px;
  padding-top: 15px;
  /*padding-bottom: 8px;*/
  text-align: left;
  padding-left: 180px;
  float: left;
}
.footerright{
  font-family: Arial;

  font-size: 10px;
  padding-top: 15px;
  margin-right: 295px;
  float: right;
}
.seemore{
  font-size:20px;
  background-color: rgb(203, 212, 227);
  border: 2px solid;
  float:inherit;
  margin-left: -115px;
  margin-top:150px;
  padding: 1px 1px 1px 1px;
}
footer{
  height: 30px;
}
